/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-reboot.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";

* {
  margin: 0;
  padding: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}
